[submodule "CAN-Accessories"]
	path = CAN-Accessories
	url = https://github.com/supermileage/CAN-Accessories.git
	branch = main
[submodule "UrbanSteeringFirmware"]
	path = UrbanSteeringFirmware
	url = https://github.com/supermileage/UrbanSteeringFirmware
	branch = main
